extends layout

block content
    .row
      h1 Real News Network 
      //- p Your #1 source of unbiased facts #{title}
      p Your #1 source of unbiased facts
        .row
          .col-lg-4.col-md-4
            a.row
              .panel.panel-primary.panel-heading(href = '/') 
                h4 North Korea literally does it
                p this saturday after threatening that he would destroy Los Angeles should ponyang leadership falter, Kim Jong un...
            a.row    
              .panel.panel-primary.panel-heading(href = '/') 
                h4 Trump's hands continue to shrink, no signs of stopping.
                p Scientists are trying their best to figure out through what methods liberals are shrinking trump's hands. Alter...
            a.row    
              .panel.panel-primary.panel-heading(href = '/') 
                h4 Mike Pence "I just really don't like them".
                p Ther're dirty, insideous, and annoying. They infest our culture and ruin families. I will put a stop to mold in...
            a.row    
              .panel.panel-primary.panel-heading(href = '/') 
                h4 Mike Pence "I just really don't like them".
                p Ther're dirty, insideous, and annoying. They infest our culture and ruin families. I will put a stop to mold in...

